<p>
  <strong>Commenter:</strong>
  <%= comment.commenter%>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<% @url = '/users/' + @user.id.to_s + '/articles/' + @article.id.to_s + '/comments/' + comment.id.to_s %>
<p>
  <%= link_to 'Destroy Comment', @url,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>