<p>
  <strong>Commenter:</strong>
  <%= comment.commenter = @user.name.to_s%>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', '/users/:user_id/articles/:article_id/comments/:id',
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>