<% @path =  article.user_id.to_s + "/articles/" + article[:id].to_s %>
<p>
    <%= article.sender %> sayd:
    <%=link_to article.title, @path, method: :get%>

</p>

<p>
    <strong>Text:</strong>
    <%= article.text %>

</p>